*{
  margin: 0;
  padding: 0;
}

.header{
  
  width: 100%;
  height: 70px;
  background: #000;
  color: #fff;
}

.title{
  display: inline-block;
  padding: 10px 100px ;
  font-size: 2.5em;
  font-family:'Dancing Script', cursive;
}

.nav{
  font-family: 'Akaya Telivigala', cursive;
  
}
.nav .nav__item{
  display: inline-block;
}
.nav__item{
  float: right;
  padding: 30px 50px 0 0;
}
nav a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 7px ;

}
nav a:hover{
  color: rgba(151, 148, 148, 0.692);
  text-decoration: line-through;
  margin-right: 10px;
  padding: 7px;
  
}
nav i{
  font-size: 20px;
  color: #fff;
}
nav i:hover{
  font-size: 20px;
  color: rgba(151, 148, 148, 0.692);
}
.fas .fa-house-user{
  border: 1px solid #fff;
}